body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 15% 1% 15%;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
}

.header-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.card-container-one {
    background-color: #1F2937;
    padding: 5% 15% 5% 15%;
    display: flex;
}

.card-one-title {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.card-one-subtext, .image-placeholder, .card-one-button{
    color: #E5E7EB;
    font-size: 18px;
}

.image-placeholder {
    background-color: #6D747D;
}

.card-one-button {
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 5px 25px 5px 25px;
}